<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Conversation" hide-back-button="true">
<ion-nav-buttons side="left">
 <button class="button button-clear" ng-click="goChats()"><i class="icon ion-arrow-left-c" ></i> Chats</button>
</ion-nav-buttons>    
  <ion-content has-bouncing="true">
<!--
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right pull-right" 
                ng-repeat="chat in chats" type="item-text-wrap">
        <img ng-src="{{chat.sender_pic}}">
        <h2>{{chat.sender_fullname}}</h2>
        <p>{{chat.msg}}</p>
        <p style="font-style:italic;">
          <i><font size="1">{{chat.created_at}}</font></i>
          <i ng-if="chat.read_at != null && chat.sid == $storage.account.id"><font size="1">(Read@{{chat.read_at}})</font></i></p>
      </ion-item>
    </ion-list>
-->
              <div ng-repeat="chat in chats" class="message-wrapper">
      
                  <div ng-if="participents[0] == chat.sid">
                      
                    <img class="profile-pic left" 
                          ng-src="{{chat.sender_pic}}" />
      
                      <div class="chat-bubble left">
      
                          <div class="message" ng-bind-html="chat.msg" autolinker>
                          </div>
      
                          <div class="message-detail">                            
                              <span  class="bold">{{chat.sender_fullname}}</span>, 
                              <span>
                                <i><font size="1">{{chat.created_at}}</font></i>
                                <i ng-if="chat.read_at != null && chat.sid == $storage.account.id" 
                                    class="ion ion-ios-checkmark-empty"></i>
                              </span>
                          </div>
      
                      </div>
                  </div>
      
                  <div ng-if="participents[0] == chat.rid">
                    
                       <img class="profile-pic right" 
                          ng-src="{{chat.sender_pic}}"/>
                    
                      <div class="chat-bubble right">
                          <div class="message" ng-bind-html="chat.msg">
                          </div>
      
                          <div class="message-detail">                            
                              <span  class="bold">{{chat.sender_fullname}}</span>, 
                              <span>
                                <i><font size="1">{{chat.created_at}}</font></i>
                                <i ng-if="chat.read_at != null && chat.sid == $storage.account.id" 
                                    class="ion ion-ios-checkmark-empty"></i>
                              </span>
                          </div>
      
                      </div>
                    
                  </div>
      
                  <div class="cf"></div>
      
              </div>
    
  </ion-content>

  
  <form name="sendMessageForm" ng-submit="send(msg); msg = null" novalidate>
      <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
          <label class="item-input-wrapper">
              <textarea ng-model="msg" value="" placeholder="Send a message..." required minlength="1" maxlength="1500" msd-elastic></textarea>
          </label>
          <div class="footer-btn-wrap">
            <button class="button button-icon icon ion ion-android-send footer-btn" type="submit"
                ng-disabled="!msg || msg === ''">
            </button>
          </div>
      </ion-footer-bar>
  </form>
  
</ion-view>
