<!--
This template loads for the 'tab.friend-detail' state (app.js)
'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
The FriendsCtrl pulls data from the Friends service (service.js)
The Friends service returns an array of friend data
-->
<ion-view view-title="{{friend.fullname}}">
  <ion-content class="padding">
    <img ng-src="{{friend.pic}}" style="width: 64px; height: 64px">
    <h3>Notes</h3>
    <p>
      {{friend.fullname}}
    </p>
  </ion-content>
</ion-view>
