<ion-view cache-view="false" view-title="View Profile">
<ion-content>
   <div class="list card">
  <div class="item">
      <img ng-src={{account.pic}} style="height:50px;width:50px;">
      <h2><b>{{account.fullname}}</b></h2>
      <h2>20-30 years</h2>
      <h2>{{account.gender}}</h2>
      <h2>{{account.lat}}, {{account.long}}</h2>
<!--    <p>{{account.email}}</p>-->
  </div>
       
<div class="item">
    <h2>{{account.sport}}</h2>
    <h2>{{account.proficiency}}</h2>
    <h2>{{account.time_of_play}}</h2>
    <h2>30 kms away</h2>
  </div>

  <div class="item item-text-wrap">
      <button class="button" ng-click="sent_request(account.id)">
         Let's Play
      </button>
      <button class="button" ng-click="add_myplayers(account.id)">
         Add to my Players
      </button>
      <button class="button" ng-click="report(account.id)">
         Report
      </button> 
      <button class="button" ng-click="block(account.id)">
         Block
      </button> 
  </div>
</div>
</ion-content>
</ion-view>