<ion-view cache-view="false" view-title="Location not available">
  <ion-content class="padding" ng-controller="NogpsCtrl">
    <ul class="list">
        <li class="item">
            Please enable gps to use this application

        </li>
        <li class="item">
            <button class="button" ng-click="refresh()">
              <i class="ion-loop"></i> Try Again
            </button>

        </li>
    </ul>

  </ion-content>
</ion-view>
