<ion-view cache-view="false" view-title="Data connection not available">
  <ion-content class="padding" ng-controller="NonetCtrl">
    <ul class="list">
        <li class="item">
            Please enable data or connect to a wifi to use this application.

        </li>
        <li class="item">
            <button class="button" ng-click="refresh()">
              <i class="ion-loop"></i> Try Again
            </button>

        </li>
    </ul>

  </ion-content>
</ion-view>
