<ion-view cache-view="false" view-title="Sent Requests">
<ion-content ng-controller="SentRequestCtrl">
<ion-spinner class="spinner-energized"></ion-spinner>
    
    jlkjaskjfalskjfla
    <ion-list>
      <ion-item class='item-remove-animate item-avatar item-icon-right' ng-repeat="item in data" type="item-text-wrap" type="item-text-wrap">
         <img ng-src="{{ item.pic }}">
        <h2>{{item.fullname | uppercase}}</h2>
        <p></p>        
        <ion-option-button class="button-positive" ng-click="">
          Confirm Request
        </ion-option-button>
        <ion-option-button class="button-positive" ng-click="">
          Reject Request
        </ion-option-button>
      </ion-item>
    </ion-list>
</ion-content>
</ion-view>
