<ion-view cache-view="false" view-title="Setup your sport">
  <ion-content ng-controller="SetupCntrl">
    <ion-list>
        <div class="item item-divider">
            <b>Welcome {{$storage.account.fullname}}</b>
        </div>

        <label class="item item-input item-select">
        <span class="input-label">My Sport</span>
        <select ng-change="updateSettings()" class="item item-input" ng-model="$storage.account.sport" ng-options="i for i in settings.sports"></select>
        </label>
        <label class="item item-input item-select">
        <span class="input-label">Sport proficiency</span>
        <select ng-change="updateSettings()" class="item  item-input" ng-model="$storage.account.proficiency" ng-options="i for i in settings.proficiencies">
        </select>
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Time of play</span>
          <select ng-change="updateSettings()" class="item  item-input" ng-model="$storage.account.time_of_play" ng-options="i for i in settings.timeblocks">
        </select>
        </label>
        <div class="item">
            <button class="button button-positive button-full" ng-click="next()">
              Next <i class="icon ion-arrow-right-c"></i>
            </button>
        </div>
    </ion-list>
  </ion-content>
</ion-view>
