<ion-view cache-view="false" view-title="Sign up on Gameday">
  <ion-content class="padding" ng-controller="SignupCtrl">
    <ul class="list">
        <li class="item">
            <button class="button" ng-click="facebookLogin()">
              <i class="ion-social-facebook"></i> Sign in with Facebook
            </button>
        </li>
        <li class="item">
            <button class="button" ng-click="googleLogin()">
              <i class="ion-social-googleplus"></i> Sign in with Google+
            </button>
        </li>
    </ul>

  </ion-content>
</ion-view>