<ion-view cache-view="false" view-title="My Profile">
<ion-content>
   <div class="list card">
  <div class="item">
      <img ng-src={{$storage.account.pic}} style="height:50px;width:50px;">
      <h2><b>{{$storage.account.fullname}}</b></h2>
      <h2>20-30 years</h2>
      <h2>{{$storage.account.gender}}</h2>
      <h2>{{$storage.account.lat}}, {{$storage.account.long}}</h2>
<!--    <p>{{account.email}}</p>-->
  </div>
       
<div class="item">
    <h2>{{$storage.account.sport}}</h2>
    <h2>{{$storage.account.proficiency}}</h2>
    <h2>{{$storage.account.time_of_play}}</h2>
    <h2>30 kms away</h2>
  </div>

  <div class="item item-text-wrap">
      <button class="button" ng-click="logout()">
          Logout
      </button>      
      <button class="button" ng-click="localert()">
          <i class="ion-location"></i> Location refresh
      </button>
  </div>


</div>
</ion-content>
</ion-view>
