<ion-view cache-view="false" view-title="Requests">
<ion-content>
<ion-spinner class="spinner-energized"></ion-spinner>
<button class="button button-full" ng-click="refresh()">
  <i class="icon ion-loop"></i> Refresh
</button>
    <ion-list>
      <ion-item class='item-remove-animate item-avatar item-icon-right' ng-repeat="item in data" type="item-text-wrap" type="item-text-wrap">
        <img ng-src="{{ item.pic }}">
        <h2>{{item.fullname | uppercase}}</h2>
        <ion-option-button ng-if="item.accepted == null && item.rejected == null"  class="button-positive" 
                           ng-click="confirm_request(item.request_id)">
          <i class="icon ion-thumbsup"></i>
        </ion-option-button>
        <ion-option-button ng-if="item.accepted == null && item.rejected == null" class="button-positive" 
                           ng-click="reject_request(item.request_id)">
          <i class="icon ion-thumbsdown"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
</ion-content>
</ion-view>
