<ion-view cache-view="false" view-title="Settings">
  <ion-content>
    <ion-list>
    <div class="item item-divider">
        <b>Personal</b>
    </div>  

  <a class="item" href="#">
    Name
    <span class="item-note">
        {{$storage.account.fullname}}
    </span>
  </a>  
  <a class="item" href="#">
    Gender
    <span class="item-note">
      {{$storage.account.gender}}
    </span>
  </a>
  <a class="item" href="#">
    Age
    <span class="item-note">
      between 20-30 years
    </span>
  </a>
<!--
  <a class="item" href="#">
    Distance
    <span class="item-note">
      30 Km away
    </span>
  </a>
  <a class="item" href="#">
    Last location
    <span class="item-note">
        {{$storage.account.lat}},{{$storage.account.long}}
    </span>
  </a>
-->
    <div class="item item-divider">
        <b>Sport Settings</b>
    </div>  
        
  <label class="item item-input item-select">
    <span class="input-label">My Sport</span>
    <select ng-change="updateSettings()" class="item item-input" ng-model="$storage.account.sport" ng-options="i for i in settings.sports"></select>
  </label>  
 <label class="item item-input item-select">
    <span class="input-label">Sport proficiency</span>
    <select ng-change="updateSettings()" class="item  item-input" ng-model="$storage.account.proficiency" ng-options="i for i in settings.proficiencies">
    </select>
  </label>
  <label class="item item-input item-select">
      <span class="input-label">Time of play</span>
      <select ng-change="updateSettings()" class="item  item-input" ng-model="$storage.account.time_of_play" ng-options="i for i in settings.timeblocks">
    </select>
  </label>

<div class="item item-divider">
    <b>Discovery Settings</b>
</div>  
        
<ion-item class="item-toggle">
        Discoverable?
        <label class="toggle">
          <input type="checkbox"  ng-change="updateSettings()" ng-model="$storage.account.discoverable" ng-true-value="1" ng-false-value="0"
>
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
    </ion-item>        
  <label class="item item-input item-select">
      <span class="input-label">Distance Unit</span>
<!--    <input type="text" placeholder="e.g. Cricket">-->
        <select ng-change="updateSettings()" class="item item-input" ng-model="$storage.account.distance_unit" ng-options="i for i in settings.distance_unit">
        </select>
  </label>
  <div class="item range range-positive">
    <span class="input-label">&nbsp;Min Age</span>
    18
    <input type="range"  ng-change="updateSettings()" ng-model="$storage.account.min_age" name="volume" min="18" max="65" value="22">
    65
  </div>
  <div class="item range range-positive">
    <span class="input-label">&nbsp;Max Age</span>
    18
    <input type="range"  ng-change="updateSettings()" ng-model="$storage.account.max_age" name="volume" min="18" max="65" value="45">
    65
  </div>
        
<div class="item item-divider">
    <b>App Settings</b>
</div>  
        
<ion-item class="item-toggle">
        Push Notifications
        <label class="toggle">
          <input type="checkbox"  ng-change="updateSettings()" ng-model="$storage.account.push_notifications" ng-true-value="1" ng-false-value="0"
>
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
    </ion-item>               
    <ion-item class="item-toggle">
        Sounds
        <label class="toggle">
          <input type="checkbox"  ng-change="updateSettings()" ng-model="$storage.account.sounds" ng-true-value="1" ng-false-value="0"
>
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
    </ion-item>            

<div class="item item-divider">
    <b>About Sportizzy</b>
</div>
<p class="item item-text-wrap">Sportizzy is the next big App! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <a class="item" href="#">
    Privacy policy
  </a>
  <a class="item" href="#">
    Terms and conditions
  </a>  
  <a class="item" href="" ng-click="share()">
    Share Sportizzy
  </a>  
  <a class="item" href="#">
    Rate us
  </a>
  <div class="list list-inset">
     <label class="item">Contact us</label>
  <label class="item item-input">
      <input rows="5" type="text" name="enquiry" ng-model="enquiry" placeholder="Your message here ..">
  </label>
      <div class="item">
      <button class="button button-positive button-block" ng-click="update_enquiry(enquiry); enquiry = null">Submit</button>
      </div>
  </div>       
<div class="item item-divider">
    <hr>
</div>
  <a class="item" href="#" ng-click="logout()">
    Logout
  </a>  
  <a class="item" href="#" ng-click="delete()">
    Delete Account
  </a>        
        
    </ion-list>
  </ion-content>
</ion-view>
