<ion-view view-title="Friends">
  <ion-content>
    <ion-list>
      <ion-item class="item-avatar" ng-repeat="friend in friends" type="item-text-wrap" href="#/tab/friend/{{friend.recipient}}">
        <img ng-src="{{friend.pic}}">
        <h2>{{friend.fullname}}</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
