<ion-view view-title="Chats" hide-back-button="true">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" 
                ng-repeat="chat in chats" type="item-text-wrap" 
                href="#/tab/chats/{{chat.id}}/{{ chat.p1 }}-{{ chat.p2 }} ">
        <img ng-src="{{chat.pic}}">
        <h2>{{ chat.fullname}}</h2>
        <p>{{chat.last_msg}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
