<ion-view cache-view="false" view-title="Matches">
<ion-content ng-controller="MatchesCtrl">
<ion-spinner class="spinner-energized"></ion-spinner>
    <button class="button button-full" ng-click="refresh()">
      <i class="icon ion-loop"></i> Refresh
    </button>
    <ion-list>
      <ion-item class='item-remove-animate item-avatar item-icon-right' ng-repeat="item in data" type="item-text-wrap" type="item-text-wrap">
         <img ng-src="{{ item.pic }}">
        <h2>{{item.name | uppercase}} - {{item.gender}} / {{ ( Math.floor(parseInt(item.distance)) < 1 ) ? 1 : Math.floor(parseInt(item.distance)) }} kms away</h2>

        <p>Sport: {{item.sport}} ({{item.proficiency}})</p>        
        <p>Time of play: {{item.time_of_play}}</p>

        <ion-option-button class="button-positive" ng-click="view(item)">
          View Profile
        </ion-option-button>
      </ion-item>
    </ion-list>
</ion-content>
</ion-view>
