<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs  class="tabs-icon-top tabs-color-active-positive">


  <!-- Matches Tab -->
  <ion-tab title="Matches" icon-off="ion-search" icon-on="ion-search" href="#/tab/matches">
    <ion-nav-view name="tab-matches"></ion-nav-view>
  </ion-tab>  
    
  <!-- Dashboard Tab -->
  <ion-tab title="My Profile" icon-off="ion-nuclear" icon-on="ion-nuclear" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


  <!-- Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="Friends" icon-off="ion-ios-heart-outline" icon-on="ion-ios-heart" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>


  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  
  <!-- Request Received -->
  <ion-tab title="Requests" icon-off="ion-person" icon-on="ion-person" href="#/tab/requests">
    <ion-nav-view name="tab-requests"></ion-nav-view>
  </ion-tab>
  
  <!-- Request Sent -->
<!--
  <ion-tab title="Request Sent" icon-off="ion-ios7-gear-outline" icon-on="ion-ios7-gear" href="#/tab/request/sent">
    <ion-nav-view name="tab-request-sent"></ion-nav-view>
  </ion-tab>
-->

</ion-tabs>
